body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #ff6347;
}

.tab-button.active {
    background-color: #ff4500;
}

.tab-content {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.tab-content.active {
    display: block;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6347;
}

h3, h4 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

button.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #ff1a1a;
}

button#showReceitasBtn, button#showDespesasBtn {
    margin: 10px 0;
    padding: 10px;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button#showReceitasBtn:hover, button#showDespesasBtn:hover {
    background-color: #ff6347;
}
